<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Admin", admin_path %></li>
      <li class="active">Semesters</li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container">
    <h2>Semesters</h2>
     
    <p>
      <%= link_to 'New Semester', new_admin_semester_path, { class: "btn btn-default" } %>
    </p>

    <table class="table">
      <tr>
        <th>Season</th>
        <th>Year</th>
        <th>Actions</th>
      </tr>
     
      <% @semesters.each do |semester| %>
        <tr>
          <td><%= semester.season %></td>
          <td><%= semester.year %></td>
          <td><%= link_to 'Show', admin_semester_path(semester) %> | 
              <%= link_to 'Edit', edit_admin_semester_path(semester) %> | 
              <%= link_to 'Destroy', admin_semester_path(semester), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>