<div class="breadcrumbs">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li><%= link_to "Admin", admin_path %></li>
      <li><%= link_to "Semesters", admin_semesters_path %></li>
      <li class="active">Semester</li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container-fluid">
    <h2>Semester Details</h2>

    <p>
      <strong>Season:</strong>
      <%= @semester.season %>
    </p>
     
    <p>
      <strong>Year:</strong>
      <%= @semester.year %>
    </p>

    <%= link_to 'Edit', edit_admin_semester_path(@semester), { class: "btn btn-default" } %>
  </div>
</div>