<div class="breadcrumbs">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="active">Admin</li>
    </ol>
  </div>
</div>

<div class="admin">
  <div class="container-fluid">
    <h2 class="page-header">Lessons</h2>
    <p>
      <%= link_to "New Lesson", new_admin_lesson_path, class: "btn btn-default" %>
      <%= link_to "View all lessons", admin_lessons_path, class: "view" %>
    </p>
    <h2 class="page-header">Assignments</h2>
    <p>
      <%= link_to "New Assignment", new_admin_assignment_path, class: "btn btn-default" %>
      <%= link_to "View all assignments", admin_assignments_path, class: "view" %>
    </p>
    <h2 class="page-header">Users</h2>
    <table class="table table-striped">
      <tr>
        <th>User</th>
        <th>Status</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.approved ? "Approved" : link_to("Approve", approve_path(user), class: "btn btn-default btn-sm") %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
