<div class="header">
  <div class="container-fluid">
    <h1>Web Development for Nonprofits</h1>
    <p class="lead">Welcome to the course portal for the Web Development for Nonprofits DeCal. This portal serves as the hub for lessons, assignments, and all course information.</p>
    <p class="lead">
      <%= link_to "Learn More", syllabus_path, class: "btn btn-outline btn-lg" %>
      <%= link_to "Apply Now", apply_path, class: "btn btn-outline btn-lg" %>
    </p>
    <div class="row header-photos">
      <div class="col-sm-8 col-xs-12">
        <%= image_tag "decal.jpg", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-4 hidden-xs">
        <%= image_tag "lesson.jpg", class: "img-responsive center-block" %>
      </div>
    </div>
  </div>
</div>

<div class="overview">
  <div class="container-fluid">
    <h2>Learn web development, code for nonprofit organizations</h2>
    <p class="lead">This course aims to teach students web technologies by working on real­-world projects with non­profit partners.</p>
    <hr class="half-rule">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-pencil"></span>
        <h3>Lessons</h3>
        <p>The first part of this class is geared towards covering basic web development topics and providing resources for more advanced learning.</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-file"></span>
        <h3>Assignments</h3>
        <p>During the learning portion of the class, homeworks are assigned to provide practice for topics learned in class and to test students’ understanding of the material covered in the class.</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-user"></span>
        <h3>Final Project</h3>
        <p>The second part of the class is focused on the implementation of a project for a nonprofit organization. The goal is to create something that students can deliver to the organization.</p>
      </div>
    </div>
    <hr class="half-rule">
    <p class="lead">Interested in taking this class?</p>
    <p class="lead">
      <%= link_to "Apply Now", apply_path, class: "btn btn-outline btn-lg" %>
    </p>
    <p class="lead deadline">Deadline: Sunday, September 9th, 2014 at 12:00pm</p>
  </div>
</div>