<a href="#menu" class="menu-link" id="menu-link">
  <span></span>
</a>
<div class="menu" id="menu">
  <div class="pure-menu pure-menu-open">
    <%= link_to "Web Development for Nonprofits", root_path, class: "pure-menu-heading" %>
    <ul>
      <li class="menu-item-divided <%= 'pure-menu-selected' if current_page?(schedule_path) %>">
        <%= link_to "Schedule", schedule_path %>
      </li>
      <li class="<%= 'pure-menu-selected' if current_page?(assignments_path) %>">
        <%= link_to "Assignments", assignments_path %>
      </li>
      <li class="<%= 'pure-menu-selected' if current_page?(syllabus_path) %>">
        <%= link_to "Syllabus", syllabus_path %>
      </li>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class="menu-item-divided <%= 'pure-menu-selected' if current_page?(admin_path) %>">
            <%= link_to "Admin", admin_path %>
          </li>
        <% end %>
        <li class="menu-item-divided">
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        </li>
      <% else %>
        <li class="menu-item-divided">
          <%= link_to "Sign In", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>